@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Outfit:wght@100..900&display=swap');

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Cinzel' !important;
    font-weight: 300;
}

h3, h4, h5, h6 {
    font-family: 'Outfit' !important;
}

p {
    font-family: 'Outfit' !important;
}

.letra1 {
    font-family: 'Outfit' !important;
}

.bannerf {
    background-image: url(/imagenes_web/banner_presentacion_vinos.png);
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 350px;
}

.img_cont {
    position: relative;
    animation: movimiento 22s infinite linear alternate
}

@keyframes movimiento {
    from {
        background-position: top left
    }

    to {
        background-position: bottom right
    }
}

.img_cont {
    display: flex;
    justify-content: center; 
    align-items: center;
    color: #fff;
    font-size: 1.3em;
}